/target/
*.class
*-solucao
*.zip

logo-design-patterns*.jpg
*.alias.*
~$*
*.mp4
target/
cep-service/
widenet-cep-service-api

#IntelliJ Files
*.iml
*.ipr
*.iws
.idea

#GitHub Pages Jekyll Plugin
_site
.bundle

*Aulas.adoc
aulas/
resumos/
provas/
# Symlink
prova*

# Planilhas de notas
*.xls*
*.ods

node_modules/

#Diretório do reveal.js.
#Pode ser acessado a partir de uma URL.
reveal.js-*
*.html
*.pdf

#macOS Files
.DS_Store

#Moodle Backup
*.mbz

#Projetos Privados (apenas no repo local)
retorno-boleto-template-and-strategy/
*telegram.adoc
**/solucao
